.header-container {
    display: flex;
    background-color: var(--header-background);
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-image: url("../../images/header/tlo-header5.jpg");
    // background-size: cover;

    background-position: 773px 578px;
    z-index: 1;
}

.header-text {
    color: transparent;
    text-transform: uppercase;
    /* Ukrycie bazowego tekstu */
    background-clip: text;
    /* Wycięcie tła w kształt tekstu */
    -webkit-background-clip: text;
    /* Wycięcie tła w kształt tekstu dla WebKit */
    transition: background-image 0.5s ease-in-out;
    background-size: 200%;
    /* Upewnij się, że gradient jest odpowiednio duży */
    background-image: linear-gradient(90deg, hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%));
    /* Domyślny gradient */
    animation: gradientChange 10s infinite;
}


@keyframes gradientChange {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}