.footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--footer-background);
    background-image: url("../../images/footer/sniezek-footer.jpg");
    background-size: cover;
    background-position: 0px 197px;
    padding: 15px 10px 35px;
    gap: 20px;
    color: white;
    box-shadow: inset 0px 2px 1px -1px rgba(255, 255, 255, 0.2),
        0px 1px 1px 0px rgba(255, 255, 255, 0.14), 0px 1px 3px 0px rgba(255, 253, 253, 0.12);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0;
}

.footer-logo {
    display: flex;
    flex-flow: column nowrap;
    width: 32px;
    align-items: center;
}

.footer-container-text {
    text-align: center;

    flex: 1;
}


.footer-text {
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 32px;
    white-space: nowrap;
    animation: rotateText 23s infinite ease-in-out;
    transform-style: preserve-3d;
}


@keyframes rotateText {
    0% {
        transform: rotateY(0deg);
        color: #55057a;
    }

    25% {
        transform: rotateY(90deg);
        color: #e27107;
    }

    50% {
        transform: rotateY(0deg);
        color: #01b401;
    }

    75% {
        transform: rotateY(90deg);
        color: #4cafff;
    }

    100% {
        transform: rotateY(0deg);
        color: #55057a;
    }
}